*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: #fffc00;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #fffc00);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #fffc00); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Open Sans', sans-serif;
}

.Contenido
{
    width: 90%;
    max-width: 1500px;
    margin: 40px auto;
}

.Contenido h1
{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: brown;  
}

.Abcdario
{
    width: 68%;
    border: 1px solid brown;
    border-radius: 20px;
    margin: 50px;
    padding: 0 0 0 15px;
    display: flex;
}

.Abcdario a
{
    padding: 10px;
    text-decoration: none;
    color: brown;
}

.Abcdario a:hover
{
    text-decoration: underline brown;;
}

.Lista
{
    border: 1px solid black;
    list-style: none;
    width: 50%;
    margin: 70px;
    padding: 10px 0 10px 50px;
}

.Lista a
{
    text-decoration: none;
    color: brown;
}

footer
{
    padding: 20px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.piePag
{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid brown;
}

.Inf-footer
{
    text-align: center;
}

.Inf-footer h4
{
    color: brown;
    border-bottom: 3px solid brown;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.Derechos
{
    text-align: center;
    margin: 20px 0 0 0;
}
