*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
	background-image: url(FondoFarmacia.jpg);
}

.Contenido
{
    width: 90%;
    max-width: 1500px;
    margin: 40px auto;
}

.Contenido h1
{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: brown;  
}

.Abcdario
{
    width: 68%;
    border: 1px solid brown;
    border-radius: 20px;
    margin: 50px;
    padding: 0 0 0 15px;
    display: flex;
}

.Abcdario a
{
    padding: 10px;
    text-decoration: none;
    color: brown;
}

.Abcdario a:hover
{
    text-decoration: underline brown;;
}

.Inic
{
	text-decoration: none;
	color: brown;
	padding: 0 0 0 100px;
}

.Inic:hover
{
	text-decoration: underline brown;
}

.Lista
{
    border: 1px solid black;
    list-style: none;
    width: 50%;
    margin: 70px;
    padding: 10px 0 10px 50px;
}

.Lista a
{
    line-height: 30px;
    letter-spacing: 1px;
    text-decoration: none;
    color: brown;
}

/*INICIO VENTANA*/

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

/*popup1 inicio*/

.overlay1 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay1.active {
	visibility: visible;
}

.popup1 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup1 .btn-cerrar-popup1 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup1 .btn-cerrar-popup1:hover {
	color: #000;
}

.popup1 h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup1 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup1.active {	transform: scale(1); opacity: 1; }
.popup1.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup1.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup1.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

/*popup1 final*/

/*popup2 inicio*/

.overlay2 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay2.active {
	visibility: visible;
}

.popup2 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup2 .btn-cerrar-popup2 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup2 .btn-cerrar-popup2:hover {
	color: #000;
}

.popup2 h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup2 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup2.active {	transform: scale(1); opacity: 1; }
.popup2.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup2.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup2.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

/*popup2 final*/

/*popup3 inicio*/

.overlay3 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay3.active {
	visibility: visible;
}

.popup3 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup3 .btn-cerrar-popup3 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup3 .btn-cerrar-popup3:hover {
	color: #000;
}

.popup3 h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup3 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup3.active {	transform: scale(1); opacity: 1; }
.popup3.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup3.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup3.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

/*popup3 final*/

/*popup4 inicio*/

.overlay4 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay4.active {
	visibility: visible;
}

.popup4 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup4 .btn-cerrar-popup4 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup4 .btn-cerrar-popup4:hover {
	color: #000;
}

.popup4 h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup4 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup4.active {	transform: scale(1); opacity: 1; }
.popup4.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup4.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup4.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

/*popup4 final*/

/*popup5 inicio*/

.overlay5 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay5.active {
	visibility: visible;
}

.popup5 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup5 .btn-cerrar-popup5 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup5 .btn-cerrar-popup5:hover {
	color: #000;
}

.popup5 h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup5 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup5.active {	transform: scale(1); opacity: 1; }
.popup5.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup5.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup5.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

/*popup5 final*/

/*popup6 inicio*/

.overlay6 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay6.active {
	visibility: visible;
}

.popup6 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup6 .btn-cerrar-popup6 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup6 .btn-cerrar-popup6:hover {
	color: #000;
}

.popup6 h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup6 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup6.active {	transform: scale(1); opacity: 1; }
.popup6.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup6.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup6.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

/*popup6 final*/

/*popup7 inicio*/

.overlay7 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay7.active {
	visibility: visible;
}

.popup7 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup7 .btn-cerrar-popup7 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup7 .btn-cerrar-popup7:hover {
	color: #000;
}

.popup7 h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup7 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup7.active {	transform: scale(1); opacity: 1; }
.popup7.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup7.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup7.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

/*popup7 final*/

/*popup8 inicio*/

.overlay8 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay8.active {
	visibility: visible;
}

.popup8 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup8 .btn-cerrar-popup8 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup8 .btn-cerrar-popup8:hover {
	color: #000;
}

.popup8 h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup8 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup8.active {	transform: scale(1); opacity: 1; }
.popup8.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup8.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup8.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

/*popup8 final*/

/*popup9 inicio*/

.overlay9 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay9.active {
	visibility: visible;
}

.popup9 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup9 .btn-cerrar-popup9 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup9 .btn-cerrar-popup9:hover {
	color: #000;
}

.popup9 h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup9 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup9.active {	transform: scale(1); opacity: 1; }
.popup9.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup9.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup9.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

/*popup9 final*/

/*popup10 inicio*/

.overlay10 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay10.active {
	visibility: visible;
}

.popup10 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup10 .btn-cerrar-popup10 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup10 .btn-cerrar-popup10:hover {
	color: #000;
}

.popup10 h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup10 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup10.active {	transform: scale(1); opacity: 1; }
.popup10.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup10.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup10.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

/*popup10 final*/

/*popup11 inicio*/

.overlay11 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay11.active {
	visibility: visible;
}

.popup11 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup11 .btn-cerrar-popup11 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup11 .btn-cerrar-popup11:hover {
	color: #000;
}

.popup11 h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup11 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup11.active {	transform: scale(1); opacity: 1; }
.popup11.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup11.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup11.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

/*popup11 final*/

/*popup12 inicio*/

.overlay12 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay12.active {
	visibility: visible;
}

.popup12 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup12 .btn-cerrar-popup12 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup12 .btn-cerrar-popup12:hover {
	color: #000;
}

.popup12 h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup12 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup12.active {	transform: scale(1); opacity: 1; }
.popup12.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup12.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup12.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

/*popup12 final*/

/*popup13 inicio*/

.overlay13 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay13.active {
	visibility: visible;
}

.popup13 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup13 .btn-cerrar-popup13 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup13 .btn-cerrar-popup13:hover {
	color: #000;
}

.popup13 h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup13 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup13.active {	transform: scale(1); opacity: 1; }
.popup13.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup13.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup13.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

/*popup13 final*/

/*popup14 inicio*/

.overlay14 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay14.active {
	visibility: visible;
}

.popup14 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup14 .btn-cerrar-popup14 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup14 .btn-cerrar-popup14:hover {
	color: #000;
}

.popup14 h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup14 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup14.active {	transform: scale(1); opacity: 1; }
.popup14.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup14.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup14.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

/*popup14 final*/

/*popup15 inicio*/

.overlay15 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay15.active {
	visibility: visible;
}

.popup15 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup15 .btn-cerrar-popup15 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup15 .btn-cerrar-popup15:hover {
	color: #000;
}

.popup15 h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup15 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup15.active {	transform: scale(1); opacity: 1; }
.popup15.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup15.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup15.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

/*popup15 final*/

/*popup16 inicio*/

.overlay16 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay16.active {
	visibility: visible;
}

.popup16 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup16 .btn-cerrar-popup16 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup16 .btn-cerrar-popup16:hover {
	color: #000;
}

.popup16 h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup16 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup16.active {	transform: scale(1); opacity: 1; }
.popup16.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup16.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup16.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

/*popup16 final*/

/*popup17 inicio*/

.overlay17 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay17.active {
	visibility: visible;
}

.popup17 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup17 .btn-cerrar-popup17 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup17 .btn-cerrar-popup17:hover {
	color: #000;
}

.popup17 h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup17 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup17.active {	transform: scale(1); opacity: 1; }
.popup17.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup17.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup17.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

/*popup17 final*/

/*popup18 inicio*/

.overlay18 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay18.active {
	visibility: visible;
}

.popup18 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup18 .btn-cerrar-popup18 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup18 .btn-cerrar-popup18:hover {
	color: #000;
}

.popup18 h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup18 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup18.active {	transform: scale(1); opacity: 1; }
.popup18.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup18.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup18.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

/*popup18 final*/

/*popup19 inicio*/

.overlay19 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay19.active {
	visibility: visible;
}

.popup19 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup19 .btn-cerrar-popup19 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup19 .btn-cerrar-popup19:hover {
	color: #000;
}

.popup19 h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup19 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup19.active {	transform: scale(1); opacity: 1; }
.popup19.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup19.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup19.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

/*popup19 final*/

/*popup20 inicio*/

.overlay20 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay20.active {
	visibility: visible;
}

.popup20 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup20 .btn-cerrar-popup20 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup20 .btn-cerrar-popup20:hover {
	color: #000;
}

.popup20 h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup20 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup20.active {	transform: scale(1); opacity: 1; }
.popup20.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup20.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup20.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

/*popup20 final*/

/*popup21 inicio*/

.overlay21 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay21.active {
	visibility: visible;
}

.popup21 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup21 .btn-cerrar-popup21 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup21 .btn-cerrar-popup21:hover {
	color: #000;
}

.popup21 h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup21 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup21.active {	transform: scale(1); opacity: 1; }
.popup21.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup21.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup21.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

/*popup21 final*/

/*popup22 inicio*/

.overlay22 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay22.active {
	visibility: visible;
}

.popup22 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup22 .btn-cerrar-popup22 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup22 .btn-cerrar-popup22:hover {
	color: #000;
}

.popup22 h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup22 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup22.active {	transform: scale(1); opacity: 1; }
.popup22.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup22.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup22.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

/*popup22 final*/

/*popup23 inicio*/

.overlay23 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay23.active {
	visibility: visible;
}

.popup23 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup23 .btn-cerrar-popup23 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup23 .btn-cerrar-popup23:hover {
	color: #000;
}

.popup23 h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup23 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup23.active {	transform: scale(1); opacity: 1; }
.popup23.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup23.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup23.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

/*popup23 final*/

/*popup24 inicio*/

.overlay24 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay24.active {
	visibility: visible;
}

.popup24 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup24 .btn-cerrar-popup24 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup24 .btn-cerrar-popup24:hover {
	color: #000;
}

.popup24 h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup24 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup24.active {	transform: scale(1); opacity: 1; }
.popup24.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup24.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup24.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

/*popup24 final*/

/*popup25 inicio*/

.overlay25 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay25.active {
	visibility: visible;
}

.popup25 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup25 .btn-cerrar-popup25 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup25 .btn-cerrar-popup25:hover {
	color: #000;
}

.popup25 h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup25 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup25.active {	transform: scale(1); opacity: 1; }
.popup25.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup25.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup25.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

/*popup25 final*/

/*popup26 inicio*/

.overlay26 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay26.active {
	visibility: visible;
}

.popup26 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup26 .btn-cerrar-popup26 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup26 .btn-cerrar-popup26:hover {
	color: #000;
}

.popup26 h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup26 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup26.active {	transform: scale(1); opacity: 1; }
.popup26.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup26.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup26.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

/*popup26 final*/

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}

/*FINAL VENTANA*/

footer
{
    padding: 20px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.piePag
{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid brown;
}

.Inf-footer
{
    text-align: center;
}

.Inf-footer h4
{
    color: brown;
    border-bottom: 3px solid brown;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.Derechos
{
    text-align: center;
    margin: 20px 0 0 0;
}

@media screen and (max-width:900px)
{
	header
	{
		text-align: center;
	}

	.Lista 
	{
		justify-content: center;
		width: auto;
	}

	.Abcdario
	{
		width: 409px;
		height: 50px;
	}

	.Abcdario a
	{
		text-align: center;
		font-size: 15px;
		padding: 15px 5px 0 0;
	}
}
